body {
    background-color: #fce4ec; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    background-color: #eca2bb; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

h2 {
    color: #a51352; 
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    background-color: #ec407a; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #d81b60; 
}

#fibonacci {
    margin-top: 20px;
    font-weight: 600;
}

#resultado {
    margin-top: 20px;
    font-weight: 700;
}
